os: Visual Studio 2015

platform:
  - x64

services:
  - mysql

configuration:
  #- Debug
  - Release

matrix:
  fast_finish: true

build_script:
  - cmake --version
  - SET PATH=%PATH%;"C:\Program Files\MySql\MySQL Server 5.7\bin"
  - set MYSQL_PWD=Password12!
  - SET
  - mysql -e "create database sqlpp_mysql;" --user=root
  - CD
  - cd ..
  - CD
  - git clone https://github.com/MariaDB/mariadb-connector-c
  - cd mariadb-connector-c
  - mkdir build
  - cd build
  - cmake .. -DCMAKE_GENERATOR_PLATFORM=x64
  - cmake --build . --config %configuration% --target install
  - CD ..
  - CD ..
  - CD
  - git clone https://github.com/HowardHinnant/date
  - cd date
  - git checkout tags/v2.4
  - cd ..
  - git clone https://github.com/rbock/sqlpp11
  - cd sqlpp11-connector-mysql
  - CD
  - echo %configuration%
  - mkdir build
  - cd build
  - cmake .. -DCMAKE_CXX_FLAGS="/EHsc /wd4503" -DCMAKE_GENERATOR_PLATFORM=x64
  - cmake --build . --config %configuration%
  #- ctest . --output-on-failure --build-config %configuration%

